.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    padding: 3rem 0 3rem 0;
    margin: 2rem auto auto auto;
    text-align: center;
}

.home img {
    height: auto;
    width: 10rem;
}

.home .countryName, .home .population, .home .region, .home .capital {
    width: 8.5rem;
    text-align: left;
    font-size: 0.8rem;
}

.home .countryName {
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
    }
}